# Dependencias
node_modules/

# Archivos de sistema operativo y temporales
.DS_Store
Thumbs.db
*.tmp
*.log

# Entornos locales
.env

# Archivos multimedia pesados (permitiendo el video oficial de experiencias B-13)
*.mp4
!assets/Experiencias Granja B13 - Estudiantes/Video Estudiantes B-13.mp4
